{{#mdl-nav title="Razer Cars" scrollHeader=true}}
  {{#with-session as |session|}}
    {{!-- Example Nav Item --}}
    {{mdl-nav-item name="Home" route="index"}}
  {{/with-session}}

  <div class="mdl-grid">
  	{{outlet}}
  </div>
{{/mdl-nav}}
